<a href="https://colab.research.google.com/github/mburu-mwangi/Lung-Cancer-/blob/main/mass_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_poland = pd.read_csv("covid_caner_poland.csv")

In [ ]:
df_poland

     Invasive mediastinal staging  ...  Outcome at discharge
0                             NIE  ...                 Alive
1                             NIE  ...                 Alive
2                             NIE  ...                 Alive
3                             NIE  ...                 Alive
4                             TAK  ...                 Alive
...                           ...  ...                   ...
7297                           NO  ...                 Alive
7298                           NO  ...                 Alive
7299                           NO  ...                 Alive
7300                           NO  ...                 Alive
7301                           NO  ...                 Alive

[7302 rows x 11 columns]

In [ ]:
df_poland['unique_ID'] = [i for i in range(df_poland.shape[0])]

In [ ]:
df_poland.set_index('unique_ID')

          Invasive mediastinal staging  ...  Outcome at discharge
unique_ID                               ...
0                                  NIE  ...                 Alive
1                                  NIE  ...                 Alive
2                                  NIE  ...                 Alive
3                                  NIE  ...                 Alive
4                                  TAK  ...                 Alive
...                                ...  ...                   ...
7297                                NO  ...                 Alive
7298                                NO  ...                 Alive
7299                                NO  ...                 Alive
7300                                NO  ...                 Alive
7301                                NO  ...                 Alive

[7302 rows x 11 columns]

In [ ]:
df_poland.to_csv('new_poland_covid_cancer.csv')

In [ ]:
df_poland.duplicated().sum()

0

In [ ]:
df_poland.isnull().sum() / len(df_poland) * 100

Invasive mediastinal staging    0.000000
Date of surgery                 0.000000
Approach                        0.109559
Type of surgery                 0.000000
Sleeve - bronchial              0.000000
Histology                       1.054506
Stage                           1.314708
Stage.1                         1.314708
Total hospital stay             1.698165
Postoperative hospital stay     2.643111
Outcome at discharge            0.000000
unique_ID                       0.000000
dtype: float64

In [ ]:
# with null values
df_poland[['Histology','Stage','Stage.1','Total hospital stay','Postoperative hospital stay']]

                    Histology  ... Postoperative hospital stay
0              Adenocarcinoma  ...                         7.0
1     Squamous cell carcinoma  ...                         3.0
2              Adenocarcinoma  ...                         5.0
3     Squamous cell carcinoma  ...                         4.0
4              Adenocarcinoma  ...                         4.0
...                       ...  ...                         ...
7297           Adenocarcinoma  ...                         6.0
7298           Adenocarcinoma  ...                         5.0
7299  Squamous cell carcinoma  ...                         6.0
7300           Adenocarcinoma  ...                         4.0
7301           Adenocarcinoma  ...                         6.0

[7302 rows x 5 columns]

In [ ]:
# with null values
df_poland[['Histology','Stage','Stage.1','Total hospital stay','Postoperative hospital stay']].dtypes

Histology                       object
Stage                           object
Stage.1                         object
Total hospital stay            float64
Postoperative hospital stay    float64
dtype: object

In [ ]:
df_poland[['Total hospital stay','Postoperative hospital stay']].describe()

       Total hospital stay  Postoperative hospital stay
count          7178.000000                  7109.000000
mean             10.937866                     7.345759
std              10.243859                     6.610859
min               2.000000                     1.000000
25%               7.000000                     5.000000
50%               8.000000                     6.000000
75%              12.000000                     8.000000
max             195.000000                   190.000000

In [ ]:
df_poland_grp_1 = df_poland['Total hospital stay'].groupby(df_poland['Outcome at discharge']).mean()
df_poland_grp_1

Outcome at discharge
Alive    10.774398
Dead     26.012987
Name: Total hospital stay, dtype: float64

In [ ]:
df_poland_grp_2 = df_poland['Postoperative hospital stay'].groupby(df_poland['Outcome at discharge']).mean()
df_poland_grp_2

Outcome at discharge
Alive     7.179155
Dead     22.763158
Name: Postoperative hospital stay, dtype: float64

In [ ]:
# back filling null values
if df_poland['Outcome at discharge'].any() == 'Alive':
  df_poland['Total hospital stay'] = df_poland['Total hospital stay'].fillna(10.774398)
  df_poland['Postoperative hospital stay'] = df_poland['Postoperative hospital stay'].fillna(7.179155)
else:
  df_poland['Total hospital stay'] = df_poland['Total hospital stay'].fillna(26.012987)
  df_poland['Postoperative hospital stay'] = df_poland['Postoperative hospital stay'].fillna(22.763158)

In [ ]:
df_poland[['Total hospital stay','Postoperative hospital stay']].isnull().sum()

Total hospital stay            0
Postoperative hospital stay    0
dtype: int64

In [ ]:
df_poland[['Total hospital stay','Postoperative hospital stay']]

      Total hospital stay  Postoperative hospital stay
0                     8.0                          7.0
1                     6.0                          3.0
2                     8.0                          5.0
3                     6.0                          4.0
4                     5.0                          4.0
...                   ...                          ...
7297                  7.0                          6.0
7298                  6.0                          5.0
7299                  7.0                          6.0
7300                  5.0                          4.0
7301                  7.0                          6.0

[7302 rows x 2 columns]

In [ ]:
df_poland.isnull().sum() / len(df_poland) * 100

Invasive mediastinal staging    0.000000
Date of surgery                 0.000000
Approach                        0.109559
Type of surgery                 0.000000
Sleeve - bronchial              0.000000
Histology                       1.054506
Stage                           1.314708
Stage.1                         1.314708
Total hospital stay             0.000000
Postoperative hospital stay     0.000000
Outcome at discharge            0.000000
unique_ID                       0.000000
dtype: float64

In [ ]:
df_poland[['Histology','Stage','Stage.1']]

                    Histology Stage   Stage.1
0              Adenocarcinoma     I     Early
1     Squamous cell carcinoma    IV  Advanced
2              Adenocarcinoma     I     Early
3     Squamous cell carcinoma     I     Early
4              Adenocarcinoma     I     Early
...                       ...   ...       ...
7297           Adenocarcinoma     I     Early
7298           Adenocarcinoma     I     Early
7299  Squamous cell carcinoma    II     Early
7300           Adenocarcinoma     I     Early
7301           Adenocarcinoma     I     Early

[7302 rows x 3 columns]

In [ ]:
df_poland[['Histology','Stage','Stage.1']].isnull().sum()

Histology    77
Stage        96
Stage.1      96
dtype: int64

In [ ]:
df_poland_test = df_poland[['Histology','Stage','Stage.1']].dropna(axis=0)

In [ ]:
df_poland[['Histology','Stage','Stage.1']].shape[0] - df_poland_test.shape[0]

96

In [ ]:
df_poland_test.shape

(7206, 3)

In [ ]:
df_poland_test.isnull().sum()

Histology    0
Stage        0
Stage.1      0
dtype: int64

In [ ]:
df_poland.dropna(axis=0,inplace=True)

In [ ]:
df_poland.isnull().sum() / len(df_poland) * 100

Invasive mediastinal staging    0.0
Date of surgery                 0.0
Approach                        0.0
Type of surgery                 0.0
Sleeve - bronchial              0.0
Histology                       0.0
Stage                           0.0
Stage.1                         0.0
Total hospital stay             0.0
Postoperative hospital stay     0.0
Outcome at discharge            0.0
unique_ID                       0.0
dtype: float64

In [ ]:
df_poland

     Invasive mediastinal staging  ...  unique_ID
0                             NIE  ...          0
1                             NIE  ...          1
2                             NIE  ...          2
3                             NIE  ...          3
4                             TAK  ...          4
...                           ...  ...        ...
7297                           NO  ...       7297
7298                           NO  ...       7298
7299                           NO  ...       7299
7300                           NO  ...       7300
7301                           NO  ...       7301

[7199 rows x 12 columns]